section.author {
    clear: both;
}

div.profile {
    float:right;
    text-align: center;
    width:100px;
}

img.profile {
  @include border-radius(50px);
  display:block;
}

footer.author {
  margin-top:30px;
  position:relative;

  img.profile {
    float: left;
    margin-right: 10px;
    width: 64px;
    height:64px;
  }

  p {
    height:64px;
  }
}

a.name {
  font-weight: bold;
}

hr {
  border: 0;
  background-color:#efefef;
  height: 1px;
  margin: 15px 0;
  clear:both;
}

img.logo {
  height: 45px;
}

.site-header span {
  vertical-align: sub;
}

p.bio {
  font-style:italic;
}

p.bio.mute {
  font-size: small;
}